@pink : #F5B5EC;
@import url('https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,100,300italic');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,500,600,700,800');
@font-face {
  font-family: HelloBeautiful;
  src: local('HelloBeautiful'), local('HelloBeautiful'), 
         url(assets/HelloBeautiful.otf) format('opentype');
}


div,p,h2,h3{
	font-family: 'lato', sans-serif;
	font-weight: 200;
}
h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
}
body{
	margin: 0px;
	.wrapper{
		display: block;
		width: auto;
	}
	.width-wrapper{
		max-width: 1440px;
		margin: 0 auto;
		position: relative;
		height: inherit;
	}
	#section-intro{
		height: 110vh;
		margin: auto;
		.intro-gradient;
		#white-bg{
			display: block;
		    width: 58%;
		    min-width: 180px;
		    height: inherit;
		    background: white;
		    text-align: left;
		    margin-left: -24%;
		}
		#intro-bg{
			width: 44%;
		    height: auto;
		    display: block;
		    margin: 0 auto;
		    padding-top: 190px;
		    position: absolute;
		    left: 26.5%;
		    z-index: 20;
		}
		#solid-bg{
			position: absolute;
		    z-index: 10;
		    left: 26%;
		    margin-top: 120px;
		    width: 54vw;
		    height: 550px;
		    background-color: rgba(256, 256, 256, 0.06);
		}
		.section-paragraph-1{
			display: inline-block;
		    float: left;
		    position: absolute;
		    top: 135px;
		    margin-left: 80px;
		    z-index: 30;
			h1{
				color: #5F68F3;
		   	 	font-weight: 700;
			    text-transform: uppercase;
			    letter-spacing: 11px;
			    font-size: 46px;
			    margin-top: 8px;
			    margin-bottom: 0px;
				span{
					font-family: 'HelloBeautiful';
				    color: rgba(255, 191, 248, 0.5);
				    font-size: 180px;
				    font-weight: normal;
				    text-transform: none;
				    letter-spacing: normal;
				    margin-right: -40px;
				    vertical-align: -webkit-baseline-middle;
				}
			}
			#intro-content-1{
				font-size: 12px;
			    letter-spacing: 1.2px;
			    font-weight: 400;
			    opacity: 1;
			    line-height: 26px;
			    margin-left: 80px;
			    margin-top: -60px;
			    color: #CCCCCC;
			}
		}
		.section-paragraph-2{
		    display: inline-block;
		    position: absolute;
		    width: 20%;
		    top: 350px;
		    float: right;
		    margin-right: 150px;
		    right: 0;
		    z-index: 40;
			#intro-title-2{
				display: block;
				position: relative;
				width: 62px;
				background: @pink;
				right: 0px;
				z-index: 30;
				color: white;
				letter-spacing: 6px;
			    font-size: 12px;
			    font-weight: 500;
			    text-align: center;
			    padding: 23px 0px 23px 3px;
			    text-transform: uppercase;
			    font-weight: 600;
			}
			#intro-content-2{
				color: white;
			    font-style: italic;
			    z-index: 40;
			    line-height: 26px;
			    font-weight: 400;
			    margin-left: -20px;
			    letter-spacing: 0.5px;
			    font-size:16px;
			}
		}
		.section-contact{
			display: inline-block;
		    position: absolute;
		    height: auto;
		    width: 100px;
		    float: right;
		    right: 0px;
		    top: 0px;
		    padding-left: 20px;
		    margin-right: 57px;
		    margin-top: -10px;
		    border-left: 1px solid rgba(255, 255, 255, 0.25);
		    padding-bottom: 10px;
			li{
				list-style-type: none;
				margin-top: 35px;
				width: 18px;
				height: 18px;
				opacity: 0.4;
				cursor: pointer;
				&:hover{
					opacity: 1;
					cusor: pointer;
				}
				img{
					width: 100%;
				}
			}
			li#dribbble{
				//background: transparent url('../dribbble.svg') center center no-repeat;
			    //background-size: contain;
			}
			li#github{
				background: transparent url('../github.svg') center center no-repeat;
			    background-size: contain;
			}
			li#instagram{
				background: transparent url('../insta.svg') center center no-repeat;
			    background-size: contain;
			}
			li#linkedin{
				background: transparent url('../linkedin.svg') center center no-repeat;
			    background-size: contain;
			}
			li#twitter{
				background: transparent url('../twitter.svg') center center no-repeat;
			    background-size: contain;
			}
		}
		.intro-divider{
			width: 34px;
		    height: 8px;
		    background: rgba(74, 74, 74, 0.72);
		    margin: 20px 0px 30px;
		}

		h3{
			font-size: 10px;
		    position: absolute;
		    bottom: -55px;
		    font-weight: 600;
		    letter-spacing: 3px;
		    transform: rotate(-90deg);
		    transform-origin: 5px bottom 0;
		    left: 35%;
		    margin-top: 0px;
		    color: white;
		    opacity: 0.5;	
		}
	}//section-intro

	section.section-project{
		display: block;
		position: relative;
		margin: 0 auto;
		width: auto;
		height: 100vh;
		.project-background{
			position: absolute; 
			z-index: -10;
		}
		.project-number{
			font-size: 100px;
		    font-weight: 800;
		    position: absolute;
		    z-index: 20;
		    font-size: 170px;
		}
		.section-paragraph-1{
			display: block;
		    position: absolute;
		    .project-title{
		    	text-transform: uppercase;
			    font-weight: 600;
			    letter-spacing: 5px;
			    display: inline;
			    color: white;
			    background: rgba(255, 223, 246, 0.9);
			    font-size: 22px;
		    }
		    .project-title-name{
		    	font-weight: 700;
			    letter-spacing: 10px;
			    font-size: 48px;
			    text-transform: uppercase;
			    font-family: 'Raleway', sans-serif;
			    display: block;
		    }
		    .project-divider{
		    	width: 34px;
			    height: 8px;
			    background: rgba(74, 74, 74, 0.72);
			    margin: 0px 0px 20px;
		    }
		    .project-content{
		    	line-height: 22px;
			    font-style: italic;
			    font-weight: 400;
			    letter-spacing: 1px;
			    color: rgba(96,96,96,0.9);
		    }
		}
		.project-cta{
			position: absolute;
		    height: 90px;
		    width: 90px;
		    background: rgba(75, 62, 247, 0.93) url('../arrow.svg') center center no-repeat;
		    background-size: 23px 23px;
		    z-index: 80;
		    cursor: pointer;
		    &:hover{
		    	background: rgba(75, 62, 247, 1) url('../arrow.svg') center center no-repeat;
		    	background-size: 23px 23px;
		    }
		}
		.project-img{
			img{
			    -webkit-filter: grayscale(100%);
			    filter: grayscale(100%);
			    .box-shadow;
			    &:hover{
			    	-webkit-filter: grayscale(0%);
			    	filter: grayscale(0%);
			    	opacity: 1 !important;
			    	z-index: 100 !important;
			    }
			}
		}
		.project-date{
			border-top: 1px solid rgba(204, 204, 204, 0.48);
		    text-transform: uppercase;
		    color: #758CED;
		    font-weight: 600;
		    letter-spacing: 4.5px;
		    transform: rotate(-90deg);
		    transform-origin: left bottom 0;
		    padding-top: 4px;
		    font-size: 10px;
		}
		.project-extension{
			position: absolute;
			height: 500px;
		}
	}

	section#section-project-0{
		.project-background{
			width: 34%;
    		border-right: 1px solid rgba(128, 128, 128, 0.25);
    		//height: 550px;
    		height: 620px;
    		margin-top: -20px;
		}
		#project-bg{
			width: 130px;
    		margin-top: -100px;
		}
		.project-title{
		    transform: rotate(-90deg);
		    transform-origin: left bottom 0px;
		    margin-left: 34.5%;
		    margin-top: -340px;
			#title-box{
				width: 16px;
			    height: 16px;
			    background-color: blue;
			    display: inline-block;
			}
			h2{
				display: inline-block;
			    margin: 12px 0px;
			    text-transform: uppercase;
			    letter-spacing: 6px;
			    font-weight: 800;
			    opacity: 0.5;
			}
		}		
		h3{
			font-weight: 800;
		    font-size: 140px;
		    opacity: 0.05;
		    text-transform: uppercase;
		    margin-top: -110px;
		    letter-spacing: 10px;
		    margin-left: -170px;
		}
		.title-description{
			color: #738CEA;
			font-weight: 600;
			letter-spacing: 1.1px;
			margin-left: 35%;
			width: 190px;
			font-size: 12px;
			margin-top: -47px;
		}
	}//section-project


	section#section-project-1{
		margin-left: 190px;
   		margin-top: 380px;	
   		margin-bottom: 140px;
		.project-background{
			background-color: rgba(119, 147, 234, 0.09);
		    width: 760px;
		    height: 62vh;
		    left: 40%;    
		    margin-left: -430px;
    		margin-top: 0px;
		}//project-background
		.project-number{
			color: #CBF3FF;
		    margin-top: -125px;
		    margin-left: 560px;
		}
		.section-paragraph-1{
		    width: 400px;
		    text-align: right;
		    margin-top: 310px;
    		margin-left: 0px;
			.project-title{
			    text-align: right;
			    padding: 27px 0px 0px 20px;
			}
			.project-title-name{
				color: #5F68F3;
			    text-align: right;
			    margin-bottom: 10px;
			    margin-top: 6px;
			    margin-right: -8px;
			}
			.project-divider{
			    right: 0px;
    			position: absolute;
			}
			.project-content{
				margin-top: 40px;
			}
		}//section-paragraph-1
		.project-cta{
		    margin-left: 755px;
		    margin-top: 295px;
		}//project-cta
		.project-img{
			.project-img-1{
				width: 479px;
			    position: absolute;
			    z-index: 50;
			    top: 0px;
			    margin-top: -90px;
			    margin-left: 120px;
			}
			.project-img-2{
				width: 315px;
			    position: absolute;
			    z-index: 60;
			    margin-left: 440px;
			    margin-top: 180px;	
			}
			.project-img-3{
			    position: absolute;
			    z-index: 40;
			    margin-left: 667px;
			    width: 330px;
			    margin-top: 75px;
			}
		}//project-img
		.project-date{
		    width: 250px;
		    text-align: right;
		    position: absolute;
		    left: 0;
		    top: 0;
		    margin: 150px -40px 0px -60px;
		}//project-date
		.project-extension{
			width:40%;
			bottom: 0px;
			right: 0px;
			margin-bottom: -300px;
			border-left: 1px solid rgba(128, 128, 128, 0.25);
		}
	}//section-project-1
	section#section-project-2{
		margin-top: 460px;
		.project-background{
			background-color: rgba(231,199,222,0.2);
			width: 74%;
    		height: 70vh;
    		margin-top: -100px;
		}
		.project-number{
			color: #A4D2EF;
			position: absolute;
		    margin-left: 250px;
		    margin-top: -220px;
		}
		.project-img{
			.project-img-1{
				width: 520px;
			    z-index: 20;
			    left: 50%;
			    position: absolute;
			    margin-left: -365px;
			    margin-top: -15px;
			}
			.project-img-2{
				width: auto;
				z-index: 10;
				position: absolute;
			   	left: 55%;
    			margin-top: -160px;
			}
			.project-img-3{
				z-index: -5;
				opacity: 0.07;
				margin-top: 190px;
			}
		}//project-img
		.section-paragraph-1{
			left: 860px;
   			margin-top: -320px;
    		.project-title{
			    //padding: 27px 20px 0px 0px;
			    text-align: left;
			    color: #E6A1D2;
			    background: transparent;
    		}
    		.project-title-name{
    			color: #5F68F3;
    			margin-top: 10px;	
    		}
    		.project-divider{
    			margin: 20px 0px 20px;
    		}
		}
		.project-cta{
			left: 50%;
		    margin-left: -365px;
		    margin-top: -219px;
		}
		.project-date{
			position: absolute;
		    right: 0px;
		    width: 250px;
		    transform: rotate(90deg);
		    transform-origin: 62%;
		    top: -10px;
		}
		.project-extension{
			left: 50%;
		    margin-left: -277px;
		    border-right: 1px solid rgba(128, 128, 128, 0.25);
		    margin-top: -130px;
		    height: 550px;
		}
	}//section-project-2

	section#section-project-3{
		margin-top: 400px;
		margin-bottom: 200px;
		.project-background{
			background-color: rgba(195,220,222,0.2);
			left: 50%;
		    margin-left: -450px;
		    margin-top: 20px;
		    width: 36%;
		    height: 74vh;
		}
		.project-number{
			color: #E7C7DE;
			position: absolute;
		    left: 56%;
		    z-index: 40;
		    bottom: 0;
		    opacity: 0.6;
		}
		.project-img{
			position: relative;
			width: auto;
			.project-img-1{
				position: absolute;
				z-index: 60;
			    width: 250px;
			    left: 50%;
			    margin-left: -125px;
			}
			.project-img-2{
				position: absolute;
    			z-index: 20;
			    float: right;
			    margin-left: 50%;
			    margin-top: 40px;
			    -webkit-filter: grayscale(10%);
			    filter: grayscale(10%);
			    .no-box-shadow;
			}
			.project-img-3{
				left: 50%;
			    margin-left: -322px;
			    margin-top: -170px;
			    position: absolute;
			    z-index: 40;
			}
		}
		.section-paragraph-1{
		    width: 400px;
		    text-align: right;
		    margin-top: 260px;
		    margin-left: 50px;
			.project-title{
			    text-align: right;
			    padding: 27px 0px 0px 20px;
				color: #E6A1D2;
				background-color: transparent;
			}
			.project-title-name{
				color: #5F68F3;
			    text-align: right;
			    margin-bottom: 10px;
			    margin-top: 6px;
			    margin-right: -8px;
			}
			.project-divider{
			    right: 0px;
    			position: absolute;
			}
			.project-content{
				margin-top: 40px;
			}
		}//section-paragraph-1
		.project-cta{
			left: 50%;
		    margin-left: -50px;
    		margin-top: -90px;
		}
		.project-extension{
			border-right: 1px solid rgba(128, 128, 128, 0.25);
		    margin-top: 400px;
		    left: 50%;
		    margin-left: -125px;
		    z-index: -5;
		}
		.project-date{
		    width: 250px;
		    text-align: right;
		    position: absolute;
		    left: 0;
		    top: 0;
		    margin: 65px -40px 0px 100px;
		}//project-date
	}//section-project-3

	footer{
		width: 100%;
		height: auto;
		display: block;
		background-color: #2A2A2A;
		#footer-width-wrapper{
			width: 70%;
		    text-align: left;
		    clear: both;
		    margin-top: 20px;
		    padding: 120px 0px;
		    margin-left: 150px;
		}
		.footer-divider{
	    	width: 32px;
		    height: 6px;
		    background: rgba(151, 151, 151, 0.27);
		    margin: 0px 0px 40px;
	    }
	    .extra-margin-70{
	    	margin-bottom: 70px;
	    }
	    .extra-margin-5{
	    	margin-top: 5px;
	    }
		h2{
			color: #A5ABFF;
		    font-weight: 600;
		    letter-spacing: 1px;
		    font-size: 16px;
		    margin: 0px;
		}
		p{
			color: rgba(234, 234, 234, 0.85);
		    font-size: 13px;
		    font-weight: 300;
		    letter-spacing: 1px;
		    margin-top: 10px;
		}
		ul{
			display: block;
			margin: 0px 0px;
			padding-left: 0px;
			li{
				display: inline-block;
			    width: 170px;
				a{
					text-decoration: none;
					color: #A5CEFF;
					font-size: 12px;
    				letter-spacing: 1.5px;
    				font-weight: 400;
				}
			}//li
		}//ul
		p#footer-note{
			font-size: 12px;
		    letter-spacing: 0.6px;
		    margin-top: 120px;
		    opacity: 0.4;
		}
	}//footer

	
}//body

.clearfix{
	clear: both;
}

.no-box-shadow{
		-webkit-box-shadow: 0px 0px 32px 10px rgba(0,0,0,0);
	-moz-box-shadow: 0px 0px 32px 10px rgba(0,0,0,0);
	box-shadow: 0px 0px 32px 10px rgba(0,0,0,0);
}
.box-shadow{
	-webkit-box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.18);
	box-shadow: 0px 0px 32px 10px rgba(0,0,0,0.18);
}
.intro-gradient{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a2eae1+0,a2eae1+24,6c7eeb+98 */
background: #a2eae1; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #a2eae1 0%, #a2eae1 24%, #6c7eeb 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #a2eae1 0%,#a2eae1 24%,#6c7eeb 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #a2eae1 0%,#a2eae1 24%,#6c7eeb 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2eae1', endColorstr='#6c7eeb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}